//详情
.detail {

  &-bg {
    height: px2rem(220px);
    background-color: #2997DE;
  }
  &-layout {
    position: absolute;
    top: px2rem(128px);
    width: 100%;
  }
  &-content {
    margin: 0 auto;
    width: px2rem(690px);
    height: px2rem(358px);
    background-color: #ffffff;
    box-shadow:0px 6px 15px 0px rgba(41,151,222,0.3);
    border-radius:10px;
    &-box {
      padding: px2rem(30px);
      .top {
        .headerimg {
          width: px2rem(60px);
          height: px2rem(60px);
          border-radius: 50%;
          background: url("../../assets/images/icon_header.png")no-repeat;
          background-size: px2rem(60px);
          float: left;
        }
        .headerinfo {
          font-size: px2rem(24px);
          color: #999999;
          margin-left: px2rem(90px);
          margin-bottom: px2rem(20px);
          span {
            font-size: px2rem(30px);
            color: #333333;
            margin-right: px2rem(10px);
          }
          i.new {
            display: inline-block;
            width: px2rem(30px);
            height: px2rem(30px);
            background: url("../../assets/images/icon_new.png")no-repeat;
            background-size: px2rem(30px);
            margin-left: px2rem(30px);
          }
          i.classa {
            display: inline-block;
            width: px2rem(30px);
            height: px2rem(30px);
            background: url("../../assets/images/icon_class_a.png")no-repeat;
            background-size: px2rem(30px);
            margin-left: px2rem(30px);
          }
        }
      }
      .bottom {
        font-size: px2rem(26px);
        p {
          line-height: 1;
          margin-bottom: px2rem(30px);
          span {
            width: 50%;
            display: inline-block;
          }
        }
      }
    }

  }
  &-lesson {
    margin-top: px2rem(30px);
    p.title {
      padding-left: px2rem(30px);
      margin-bottom: px2rem(20px);
    }
    p {
      color: #999999;
    }
    &-list {
      li {
        background-color: #ffffff;
        padding: px2rem(30px);
        margin-bottom: px2rem(10px);
      }
      h4 {
        color: #333333;
        margin-bottom: px2rem(20px);
        padding-bottom: px2rem(20px);
        border-bottom: 1px solid #EEEEEE;
        &:before {
          display: inline-block;
          content: '';
          width: px2rem(30px);
          height: px2rem(30px);
          margin-right: px2rem(6px);
        }
        span {
          float: right;
        }
      }
    }
  }
  &-record {
    margin-top: px2rem(30px);
    p {
      color: #999999;
    }
    p.title {
      padding-left: px2rem(30px);
      margin-bottom: px2rem(20px);
    }
    &-list {
      li {
        background-color: #ffffff;
        padding: px2rem(30px);
        margin-bottom: px2rem(10px);
      }
      h4 {
        color: #333333;
        margin-bottom: px2rem(20px);
      }
      .no-record {
        background-color: #ffffff;
        padding: px2rem(30px);
        h4 {
          &:before {
            content: '';
            display: inline-block;
            width: px2rem(26px);
            height: px2rem(26px);
            background: url("../../assets/images/icon_mark.png")no-repeat;
            background-size: px2rem(26px);
            margin-right: px2rem(20px);
          }
        }
        p {
          font-size: px2rem(24px);
          margin-left: px2rem(46px);
        }
      }
    }
  }
  .op {
    height: px2rem(100px);
  }
}
.bottom-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  button {
    font-size: px2rem(30px);
    width: 100%;
    height: px2rem(100px);
    color: #ffffff;
  }
  .fifty-per {
    width: 50%;
  }
  &-yel {
    background-color: #F5B846;
  }
  &-blu {
    background-color: #2997DE;
  }
}