//首页
.substance {
  margin: 0 auto;
  position: relative;
}

//搜索
.search-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: px2rem(100px);
  line-height: px2rem(100px);
  text-align: center;
  background-color: #2997DE;
  color: #ffffff;
  font-size: px2rem(30px);
}

.am-navbar {
  background-color: #2997DE;
}
.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  width: px2rem(450px);
  background-color: #2997DE;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  padding: 0;
}
.am-list-item {
  //padding-left: 0;
}

.drawer-slider .am-list-body .am-list-item {
  background-color: #2997DE;
}
.drawer-slider .drawer-slider-item .am-list-line {
  padding-right: 0;
  .am-list-content {
    text-align: center;
    color: #ffffff;
  }
}