//首页
.header-img {
  img {
    width: px2rem(120px);
    height: px2rem(120px);
    border-radius: 50%;
  }
}

//搜索
.search-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: px2rem(100px);
  line-height: px2rem(100px);
  text-align: center;
  background-color: #2997DE;
  color: #ffffff;
  font-size: px2rem(30px);
}

//详情
.detail {

  &-bg {
    height: px2rem(220px);
    background-color: #2997DE;
  }
  &-layout {
    position: absolute;
    top: px2rem(128px);
    width: 100%;
  }
  &-content {
    margin: 0 auto;
    width: px2rem(690px);
    height: px2rem(358px);
    background-color: #ffffff;
    box-shadow:0px 6px 15px 0px rgba(41,151,222,0.3);
    border-radius:10px;
    &-box {
      padding: px2rem(30px);
    }

  }
  &-lesson {
    margin-top: px2rem(30px);
    p.title {
      padding-left: px2rem(30px);
      margin-bottom: px2rem(20px);
    }
    p {
      color: #999999;
    }
    &-list {
      li {
        background-color: #ffffff;
        padding: px2rem(30px);
        margin-bottom: px2rem(10px);
      }
      h4 {
        color: #333333;
        margin-bottom: px2rem(20px);
        padding-bottom: px2rem(20px);
        border-bottom: 1px solid #EEEEEE;
        &:before {
          display: inline-block;
          content: '';
          width: px2rem(30px);
          height: px2rem(30px);
          margin-right: px2rem(6px);
        }
        span {
          float: right;
        }
      }
    }
  }
  &-record {
    margin-top: px2rem(30px);
    p {
      color: #999999;
    }
    p.title {
      padding-left: px2rem(30px);
      margin-bottom: px2rem(20px);
    }
    &-list {
      li {
        background-color: #ffffff;
        padding: px2rem(30px);
        margin-bottom: px2rem(10px);
      }
      h4 {
        color: #333333;
        margin-bottom: px2rem(20px);
      }
    }
  }
  .op {
    height: px2rem(100px);
  }
}
.bottom-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  button {
    font-size: px2rem(30px);
    width: 50%;
    height: px2rem(100px);
    color: #ffffff;
  }
  &-yel {
    background-color: #F5B846;
  }
  &-blu {
    background-color: #2997DE;
  }
}

.am-navbar {
  background-color: #2997DE;
}
.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  width: px2rem(450px);
  background-color: #2997DE;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  padding: 0;
}
.am-list-item {
  //padding-left: 0;
}

.drawer-slider .am-list-body .am-list-item {
  background-color: #2997DE;
}
.drawer-slider .drawer-slider-item .am-list-line {
  padding-right: 0;
  .am-list-content {
    text-align: center;
    color: #ffffff;
  }
}